# Git
.git
.gitignore
.dockerignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt

# Environment
.env
serviceAccountKey.json

# IDE
.vscode/
.idea/

# App Data
media/
db.sqlite3
*.log
