apiVersion: v1
kind: ConfigMap
metadata:
  name: coc-config
  namespace: coc
data:
  DEBUG: "false"
  ALLOWED_HOSTS: "api-coc.jithin.site,13.205.198.225,localhost,.coc.svc.cluster.local,10.42.0.0/16"
  FRONTEND_URL: "https://clashcode.jithin.site"
  BACKEND_URL: "https://api-coc.jithin.site"
  CORS_ALLOWED_ORIGINS: "https://clashcode.jithin.site"
  CSRF_TRUSTED_ORIGINS: "https://clashcode.jithin.site,https://api-coc.jithin.site"
  EMBEDDING_MODEL: "sentence-transformers/all-MiniLM-L6-v2"
  
  # --- Database Connection ---
  DB_HOST: "db.eslnbxmjlmhychgvqfpt.supabase.co"
  DB_PORT: "5432"
  
  # --- Region & Time ---
  AWS_REGION: "ap-south-1" 
  TIME_ZONE: "Asia/Kolkata"

  # --- Service URLs (Internal K8s) ---
  AI_SERVICE_URL: "http://ai:8002"
  CHAT_SERVICE_URL: "http://chat:8001"
